USE [master]
GO
/****** Object:  Database [DB_Demo]    Script Date: 23/06/2016 11:41:14 AM ******/
CREATE DATABASE [DB_Demo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_Demo', FILENAME = N'F:\Github\vb6\DB_Demo.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB_Demo_log', FILENAME = N'F:\Github\vb6\DB_Demo_log.ldf' , SIZE = 2560KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_Demo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_Demo]
GO
/****** Object:  Table [dbo].[AllUser]    Script Date: 23/06/2016 11:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AllUser](
	[UserName] [varchar](20) NOT NULL,
	[Password] [varchar](20) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Sex] [nvarchar](3) NOT NULL,
	[Birthday] [date] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Answer]    Script Date: 23/06/2016 11:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answer](
	[IDQuestion] [int] NOT NULL,
	[IDAnswer] [int] NOT NULL,
	[ContentAnswer] [nvarchar](300) NOT NULL,
	[Correct] [int] NOT NULL,
 CONSTRAINT [PK_Answer] PRIMARY KEY CLUSTERED 
(
	[IDAnswer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Mark]    Script Date: 23/06/2016 11:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Mark](
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](20) NOT NULL,
	[IdSubject] [varchar](30) NOT NULL,
	[Mark] [float] NOT NULL,
	[TimeTest] [date] NOT NULL,
 CONSTRAINT [PK_Mark] PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Question]    Script Date: 23/06/2016 11:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Question](
	[IDSubject] [varchar](30) NOT NULL,
	[IDQuestion] [int] NOT NULL,
	[ContentQuestion] [nvarchar](600) NOT NULL,
 CONSTRAINT [PK_Question_1] PRIMARY KEY CLUSTERED 
(
	[IDQuestion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 23/06/2016 11:41:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Subject](
	[IDSubject] [varchar](30) NOT NULL,
	[NameSubject] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED 
(
	[IDSubject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[AllUser] ([UserName], [Password], [Name], [Sex], [Birthday]) VALUES (N'abc', N'abc', N'Nguyễn văn a', N'Nam', CAST(N'2000-12-27' AS Date))
INSERT [dbo].[AllUser] ([UserName], [Password], [Name], [Sex], [Birthday]) VALUES (N'ad', N'a', N'Nguyễn văn A', N'Nam', CAST(N'1990-01-01' AS Date))
INSERT [dbo].[AllUser] ([UserName], [Password], [Name], [Sex], [Birthday]) VALUES (N'admin', N'admin', N'Admin', N'nam', CAST(N'2016-01-01' AS Date))
INSERT [dbo].[Answer] ([IDQuestion], [IDAnswer], [ContentAnswer], [Correct]) VALUES (2, 21, N'Nâng cao độ tin cậy của hệ thống máy  tính', 0)
INSERT [dbo].[Answer] ([IDQuestion], [IDAnswer], [ContentAnswer], [Correct]) VALUES (2, 22, N'Trao đổi và chia sẻ thông tin', 0)
INSERT [dbo].[Answer] ([IDQuestion], [IDAnswer], [ContentAnswer], [Correct]) VALUES (2, 23, N'Phát triển ứng dụng trên máy tính', 1)
GO
SET IDENTITY_INSERT [dbo].[Mark] ON 

INSERT [dbo].[Mark] ([STT], [UserName], [IdSubject], [Mark], [TimeTest]) VALUES (13, N'admin', N'MMT', 5.5, CAST(N'2016-06-21' AS Date))
INSERT [dbo].[Mark] ([STT], [UserName], [IdSubject], [Mark], [TimeTest]) VALUES (16, N'admin', N'KTHDC', 7, CAST(N'2016-06-22' AS Date))
INSERT [dbo].[Mark] ([STT], [UserName], [IdSubject], [Mark], [TimeTest]) VALUES (17, N'admin', N'KTMT', 8.3, CAST(N'2016-06-23' AS Date))
SET IDENTITY_INSERT [dbo].[Mark] OFF
INSERT [dbo].[Question] ([IDSubject], [IDQuestion], [ContentQuestion]) VALUES (N'MMT', 2, N'2 Ý nghĩa cơ bản nhất của mạng máy tính là  gì:')
INSERT [dbo].[Question] ([IDSubject], [IDQuestion], [ContentQuestion]) VALUES (N'MMT', 3, N'3 Thuật ngữ viết tắt bằng tiếng Anh của mạng cục bộ là  gì:')
INSERT [dbo].[Question] ([IDSubject], [IDQuestion], [ContentQuestion]) VALUES (N'MMT', 4, N'4 Thuật ngữ viết tắt bằng tiếng Anh của mạng diện rộng là  gì:')
GO
INSERT [dbo].[Subject] ([IDSubject], [NameSubject]) VALUES (N'KTHDC', N'Kinh tế học đại cương')
INSERT [dbo].[Subject] ([IDSubject], [NameSubject]) VALUES (N'KTMT', N'Kiến trúc máy tính')
INSERT [dbo].[Subject] ([IDSubject], [NameSubject]) VALUES (N'MMT', N'Mạng máy tính')
ALTER TABLE [dbo].[Answer]  WITH CHECK ADD  CONSTRAINT [FK_Answer_Question1] FOREIGN KEY([IDQuestion])
REFERENCES [dbo].[Question] ([IDQuestion])
GO
ALTER TABLE [dbo].[Answer] CHECK CONSTRAINT [FK_Answer_Question1]
GO
ALTER TABLE [dbo].[Mark]  WITH CHECK ADD  CONSTRAINT [FK_Mark_AllUser1] FOREIGN KEY([UserName])
REFERENCES [dbo].[AllUser] ([UserName])
GO
ALTER TABLE [dbo].[Mark] CHECK CONSTRAINT [FK_Mark_AllUser1]
GO
ALTER TABLE [dbo].[Mark]  WITH CHECK ADD  CONSTRAINT [FK_Mark_Subject1] FOREIGN KEY([IdSubject])
REFERENCES [dbo].[Subject] ([IDSubject])
GO
ALTER TABLE [dbo].[Mark] CHECK CONSTRAINT [FK_Mark_Subject1]
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK_Question_Subject1] FOREIGN KEY([IDSubject])
REFERENCES [dbo].[Subject] ([IDSubject])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK_Question_Subject1]
GO
USE [master]
GO
